main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background);
    width: 28.125rem;
    max-width: 100%;
    /* height: 31.25rem; */
    max-height: fit-content;
    border-radius: 1.5625rem;
    overflow: hidden;
  }
  
  .img-card {
    object-fit: cover;
    height: 13.75rem;
    max-height: 100%;
    margin-bottom: 2.8125rem;
    margin: 0;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    text-align: center;
  }
  
  .card-title {
    padding-bottom: 1rem;
    margin: 0;
  }
  
  .card-descrition {
    margin-bottom: 1.25rem;
  }
  
  .sbscr-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--very-pale-blue);
    border-radius: 0.6875rem;
    margin-bottom: 2rem;
  }
  .sbscr-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sbscr-offer img {
    padding-right: 1.25rem;
  }
  .plan {
    color: var(--dark-blue);
    font-weight: var(--bolder-weight);
    margin-bottom: 0.375rem;
  }
  .change-plan a {
    color: var(--bright-blue);
    font-weight: var(--bold-weight);
    text-decoration: underline;
  }
  
  .payment-button {
    font-weight: var(--bolder-weight);
    background-color: var(--bright-blue);
    border-radius: 0.625rem;
    border-color: transparent;
    font-size: var(--body);
    box-shadow: var(--pale-blue) 0rem 1.25rem 1.25rem 0rem;
    margin-bottom: 0.9375rem;
    width: 100%;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .payment-button .btn1 {
    background-color: transparent;
    border-color: transparent;
    color: white;
    line-height: 100%;
    font-weight: var(--bold-weight);
  }
  
  .cancel-btn {
    margin: 0.9375rem 0;
    font-weight: var(--bold-weight);
    border-color: transparent;
    background-color: transparent;
    width: 100%;
  }
  .cancel-btn .btn2 {
    background-color: transparent;
    border-color: transparent;
    color: var(--desaturated-blue);
    line-height: 100%;
    font-weight: var(--bold-weight);
  }
  
  @media (max-width: 500px) {
    .sbscr-section {
      flex-direction: column;
    }
    .sbscr-offer {
      flex-direction: column;
      margin-bottom: 1.5rem;
    }
    .sbscr-offer img {
      padding-right: 0;
      margin-bottom: 1.3125rem;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  :root {
    /* Colors */
  
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: #1d9284;
    /* Neutral */
    /* --very-pale-blue: #ffffff;
    --desaturated-blue:#d6fffd ; */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    
    --dark-blue: #1d9284;
    --card-background: white;
  
    /* Typography */
    --body: 1rem; /*(paragraph)*/
    --normal-weight: 500;
    --bold-weight: 700;
    --bolder-weight: 900;
    --h1-size: 1.75rem;
  
    --p-line-height: 1.625rem;
  }
  body {
    font-size: var(--body);
    font-family: "Red Hat Display", sans-serif;
    background: radial-gradient(#ffffff,#d6fffd);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 3.125rem 1.5625rem;
  }
  
  h1 {
    font-size: var(--h1-size);
    color: var(--dark-blue);
    font-weight: var(--bolder-weight);
  }
  p {
    line-height: 1.625rem;
    color: var(--desaturated-blue);
  }
  