{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | JerseyStore</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="logo" width="135px">
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="{% url 'user' %}">Home</a></li>
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'myorder' %}">Your Orders</a></li>
                    <li><a href="{% url 'account' %}">Account</a></li>
                    
                </ul>
            </nav>
            <a href="{% url 'cart' %}"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
            <span class="badge badge-info">{{request.session.card|length}}</span>
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
    
    {% if msg %}
    
    <center><h1>{{msg}}</h1></center>
    <div class="small-container cart-page">
    <div class="small-container">
        <div class="row">
            {% for i in data %}
            {% if forloop.counter <= 4  %}
            <div class="col-4">
                <a href="{% url 'productdetail' pk=i.id %}"> <img src="{{i.image.url}}"></a>
                <h4>{{i.Name}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>${{i.Price}}</p>
            </div>
            {% endif %}
            {% endfor %}
            
        </div>
    </div>
    </div>
    {% else %}
    <!-- Cart items details -->
    <div class="small-container cart-page">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="{{i.image.url}}" width="70%">
                        <div>
                            <p>{{i.Name}}</p>
                            <small>Price: ${{i.Price}}</small>
                            <br>
                            <a href="{% url 'remove' pk=i.id %}">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>${{i.Price}}</td>
            </tr>
            
                {% endfor %}
        </table>
        <div class="total-price">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td>${{sum}}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>${{sum2}}</td>
                </tr>
            </table>
        </div>
        <br>
        <a href="{% url 'checkout' %}" class="checkout">Checkout</a>
        {% comment %} <button id="rzp-button1" class="checkout">Pay with Razorpay</button> {% endcomment %}
    </div>
    {% endif %}

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo-white.png' %}">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Azhan</p>
        </div>
    </div>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
   

    
</body>

</html>