{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'payment.css' %}">
    <style>
        .razorpay-payment-button{
             display: none;
        }
    </style>
</head>
<body>
    <main>
        
        <form action="{% url 'success' %}" method="post">
        <div class="card-info">
          <h1 class="card-title">Proceed</h1>
          <p class="card-descrition">
            You are only one step away from your order. Please click proceed to complete it.
          </p>
          
          <div class="payment-button">
            <button type="submit" class="btn1" id="rzp-button1" >Proceed to Payment</button>
          </div>
         
        </div>
     
        {% csrf_token %}   
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_ank5gb82ed6Jfx"
            data-amount="{{payment.amount}}" 
            data-currency="{{payment.currency}}"
            data-order_id="{{payment.id}}"
            data-name="JERSEY STORE"
            data-image="{% static 'images/logo.png' %}"
            data-prefill.name="{{payment.name}}"
            data-theme.color="#1d9284">
            <input type="hidden" value="Hidden Element" name="hidden">
            </script>
        
        </form>
    </main>
</body>
</html>